<style>
    undertext {
        color: rgb(153, 152, 152);
    }
</style>
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        
      </ul>
      <p class="text-center text-mutet" style="font-size: 35px;"><a href="https://discord.gg/KFfx4azuHf"><i class="fa-brands fa-discord "></i></a>
     | <a href="https://github.com/Dobby-progam"><i class="fa-brands fa-github"></i></a>
     | <a href="https://www.youtube.com/@dobby-bouwt1654/"><i class="fa-brands fa-youtube "></i></a> </p>
      <p class="text-center"  > Dobbie © <br> <br>
        <span style="color:red">
        <i class="fa-solid fa-heart fa-beat fa-2x "></i>
      </span>
    </footer>
</div>